*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.philosopher-bold {
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  .bloglist{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.blog {
  padding: 1rem;
  border: 1px solid darkgray;
  border-radius: 0.5rem;
}
.blog img{
  width: 100%;
}
.blog p{
  font: size 0.9rem;
}
@media only screen and (min-width: 576px) {
  .bloglist{
   display: grid;
   grid-template-columns: 1fr 1fr;
  }
 }
 @media only screen and (min-width: 768px) {
  .bloglist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   }
 }
 @media only screen and (min-width: 992px) {
  .bloglist{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
     }
}
@media only screen and (min-width: 1200px){
  .bloglist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   }
}